.cv-nav .navbar-brand,
.cv-nav .navbar-nav>li>a {
    color: #004d1a;
}

.cv-main {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #004d1a;
    color: #8bca9b;
    font-size: 15px;
}

.cv-main a {
    color: #8bca9b;
    font-size: 15px;
    text-decoration: none;
}

.cv-main h4 {
    color: #ffffff;
    font-size: 45px;
}

.cv-navbar-right {
    float: right !important;
}

.cv-info {
    padding-top: 30px;
    padding-bottom: 15px;
}

.cv-footer {
    /* padding-top: 30px;
    padding-bottom: 30px;*/
    background-color: #e6ffe6;
    color: #004d1a;
    font-size: 15px;
    border-top: 1px solid #004d1a;
    padding-top: 15px;
    padding-bottom: 15px;
}

.cv-footer a {
    color: #004d1a;
}

.test h4 {
    color: #004d1a;
    text-decoration: underline;
    padding-bottom: 25px;
}

.cv-info h4 {
    color: #004d1a;
    text-decoration: underline;
    /*padding-bottom: 25px;*/
}
/*-----*/

.test a {
    color: #fff;
    background: #004d1a;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-family: fontawesome;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 2px;
    transition: all .5s;
    padding-top: 3px;
}

.test a:hover {
    background: #8bca9b;
    color: #004d1a;
}

.test a:hover p {
    bottom: 35px;
    visibility: visible;
}

.test a p {
    color: #8bca9b;
    position: absolute;
    bottom: 0;
    left: -25px;
    right: -25px;
    padding: 5px 7px;
    z-index: -1;
    font-size: 14px;
    border-radius: 2px;
    background: #004d1a;
    visibility: hidden;
    transition: all 0.5s cubic-bezier(0.6, -0.6, 0.2, 1.5);
}

.test a i {
    vertical-align: text-top;
}

.test a p:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #004d1a;
    position: absolute;
    bottom: -5px;
    left: 40px;
}