.cv-nav .navbar-brand, .cv-nav .navbar-nav>li>a{
    color: #004d1a;
}

.cv-main {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #004d1a;
    color: #8bca9b;
    font-size: 15px;
}

.cv-main a {
    color: #8bca9b;
    font-size: 15px;
}

.cv-main h4 {
    color: #ffffff;
    font-size: 45px;
}

.cv-navbar-right {
    float: right !important;
}

.cv-info {
    padding-top: 30px;
}